@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 6, 6, 26;
  --background-end-rgb: 6, 6, 26;
}

body {
  background-color: #06061a;
  color: #f1f5f9;
}
